# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mongo.Generic.Driver.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\MyProgramming\MyNuget\MshMongo\.idea\.idea.Mongo.Generic.Driver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
